# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions & files
*.so
*.c

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# vim .swp
*.swp

# notebooks
docs/source/.ipynb_checkpoints/

# ignore PyCharm and IntelliJ project metadata
/.idea/
*.iml

# ignore vs code
.vscode

# macOS
.DS_Store

